# Compiled Object files
*.o
*.obj

# Executables
*.bin
*.elf

# PROS
bin/
.vscode/
.cache/
compile_commands.json
temp.log
temp.errors
*.ini
.d/

# Exclude the PROS Toolchain
!pros-toolchain-windows/usr/bin/

# EZ-Template
*.zip

# PyCharm
.idea/
